.killer-display {
    background-color: #282c34;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    font-size: calc(50px + 2vmin);
    min-height: 10vh;
    color: #ec4242;
}

.input {
    width: 80%;
}

.flashing-text {
    animation: flash 1s infinite alternate;
}

.column-no-border {
    width: 30%; /* Adjust as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border: none ;
}

@keyframes flash {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}